<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/admin_logo"
        android:label="Admin"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
		        <activity
            android:name="com.example.login.ui.login.LoginActivity"
            android:exported="true"
                    android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		        <activity
            android:name="com.example.admin.Admin$AdminActivity"
            android:exported="true">
			 </activity>
		<activity
            android:name="com.example.login.CreateNewAccount"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name="com.example.login.forgot_password"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name="com.example.admin.UserDB$UserActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.example.admin.ProductDB$ProductActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
    </application>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
</manifest>